<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список направлений</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Список направлений</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th>Возрастная группа</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="course : ${courses}">
                    <td><span th:text="${course.get_id()}"></span></td>
                    <td><span th:text="${course.get_name()}"></span></td>
                    <td><span th:text="${course.get_age_limit()}"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>