<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список занятий</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Список занятий</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ID направления</th>
                    <th>Дата</th>
                    <th>Время</th>
                    <th>ID учеников</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="lesson : ${lessons}">
                    <td><span th:text="${lesson.get_id()}"></span></td>
                    <td><span th:text="${lesson.get_course_id()}"></span></td>
                    <td><span th:text="${lesson.get_date()}"></span></td>
                    <td><span th:text="${lesson.get_time()}"></span></td>
                    <td><span th:text="${lesson.get_str_students_id()}"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>