<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список пользователей</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Список пользователей</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Фамилия</th>
                    <th>Дата рождения</th>
                    <th>Номер телефона</th>
                    <th>Пароль</th>
                    <th>Роль</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td><span th:text="${user.get_first_name()}"></span></td>
                    <td><span th:text="${user.get_patronymic()}"></span></td>
                    <td><span th:text="${user.get_last_name()}"></span></td>
                    <td><span th:text="${user.get_birth_date()}"></span></td>
                    <td><span th:text="${user.get_phone_number()}"></span></td>
                    <td><span th:text="${user.get_password()}"></span></td>
                    <td><span th:text="${user.get_role_name()}"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>